<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Editing Gauge Graph</h1>
    </header>

    <div class="page__form">
      <div class="gauge_graph">
        <%= GaugePresenter.new(self, @gauge_graph.score_was, @gauge_graph.total_was, 180).render %>
      </div>
      <%= render 'form', gauge_graph: @gauge_graph %>
    </div>

    <nav class="page__cta">
      <%= link_to 'Back', gauge_graphs_path, class: "button pink" %>
      <%= link_to 'Destroy', @gauge_graph, class: "button blue", method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </article>
</section>
