<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Editing Gauge Graph</h1>
    </header>

    <div class="page__form">
      <div class="gauge_graph">
        <% @gauge = SvgDataPlotterGem::Gauge.new({score: @gauge_graph.score_was, total: @gauge_graph.total_was, size: 180}) %>

        <%= render "gauge_graphs/gauge_graph_svg", graph: @gauge %>
      </div>
      <%= render 'form', gauge_graph: @gauge_graph %>
    </div>

    <nav class="page__cta">
      <%= link_to 'Back', gauge_graphs_path, class: "button pink" %>
      <%= link_to 'Destroy', @gauge_graph, class: "button blue", method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </article>
</section>
