<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Editing Circle Graph</h1>
    </header>

    <div class="page__form">
      <div class="circle_graph">
        <% @circle = SvgDataPlotterGem::Circle.new({score: @circle_graph.score_was, total: @circle_graph.total_was, size: 200}) %>

        <%= render "circle_graphs/circle_graph_svg", graph: @circle %>
      </div>
      <%= render "form", circle_graph: @circle_graph %>
    </div>

    <nav class="page__cta">
      <%= link_to "Back", circle_graphs_path, class: "button pink" %>
      <%= link_to "Delete", @circle_graph, class: "button blue", method: :delete, data: { confirm: "Are you sure?" } %>
    </nav>
  </article>
</section>
