<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>Editing Circle Graph</h1>
    </header>

    <div class="page__form">
      <div class="circle_graph">
        <%= CirclePresenter.new(self, @circle_graph.score, @circle_graph.total, 200).render %>
      </div>
      <%= render 'form', circle_graph: @circle_graph %>
    </div>

    <nav class="page__cta">
      <%= link_to 'Back', circle_graphs_path, class: "button pink" %>
      <%= link_to 'Destroy', @circle_graph, class: "button blue", method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </article>
</section>
