// Place all the styles related to the BarGraphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bar_graph {
  svg {
    height: 200px;
    width: 180px;
  }
  text {
    fill: $white;
    text-anchor: middle;
  }
  .grid {
    stroke: $grey;
    stroke-width: 1;
  }
  .labels.y-labels text {
    font-size: 10px;
    text-anchor: middle;
    fill: $grey;
  }
}
