.button {
  height: 40px;
  line-height: 42px;
  font-family: $body-font;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  padding: 0px 30px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  color: $button-foreground;
  &.purple {
    @include button-background($purple);
  }
  &.pink {
    @include button-background($pink);
  }
  &.blue {
    @include button-background($deep-blue);
  }
}
