// Place all the styles related to the GaugeGraphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gauge_graph {
  margin: 45px 0;
  path {
    fill: none;
    stroke-width: 20;
  }
}
