.line_graph {
  .grid {
    stroke: $grey;
    stroke-dasharray: 1 2;
    stroke-width: 1;
  }
  .labels.y-labels {
    font-size: 10px;
    text-anchor: middle;
  }
  .points {
    z-index: 10;
  }
  .surfaces {
    z-index: 1;
  }
  .points_line {
    fill: none;
    z-index: 2;
    stroke-width: 3;
  }
}
