<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>New Bar Graph</h1>
    </header>

    <div class="page__form">
      <%= render 'form', bar_graph: @bar_graph %>
    </div>

    <nav class="page__cta">
      <%= link_to 'Back', bar_graphs_path, class: "button pink" %>
    </nav>
  </article>
</section>
