.page {
  padding-top: 100px;
  &__content {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  &__header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid $white;
    margin-bottom: 20px;
  }
  &__preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    @include mobile {
      grid-template-columns: 1fr;
    }
    .preview_link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $white;
      border-radius: 5px;
      border: 2px solid $purple;
      text-align: center;
      padding: 10px;
      transition: all 0.2s;
      &:focus, &:hover {
        background-color: $light-pink;
        color: $white;
        svg circle,
        svg text {
          stroke: $white;
        }
      }
    }
  }
}
